* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-color: #C6B245;
}

nav {
  background-color: #D45759;
}

.card-container {
  width: 100%;
}

h2 {
  padding: 50px;
  text-align: center;
  font-style: italic;
  color: #A94534;
  font-size: 4em;
}

.input-group {
  padding: 15px;
}

.row {
  display: table;
}

[class*="col-"] {
  vertical-align: top;
  display: table-cell;
  float: none;
}

.card {
  border: 4px solid;
  padding: 10px;
  font-size: 1.3em;
}

.darkgrey {
  border: 15px solid;
  background-color: darkgrey;
}

#text-input {
  width: 95%;
  display: inline-block;
}

.button {
  margin-top: 10px;
}

.mainInfo {
  color: black;
}

.carPrice {
  color: red;
}

.carColor {
  color: blue;
}

.carDescription {
  color:#006A00;
}

